* {
    font-size: 30px;
}

.bese {
    width: 20%;
    height: 50px;
    line-height: 50px;
}

.index {
    width: 20%;
    text-align: center;
    line-height: 50px;
}

.books_list {
    width: 20%;
    text-align: center;
}

.books_list>div {
    background-color: antiquewhite;
    line-height: 50px;
    margin-top: 10px;
}

.books_item {
    width: 20%;
    text-align: center;
}

.books_item>div {
    background-color: antiquewhite;
    line-height: 50px;
    margin-top: 10px;
}